.bottom-search_bar{
  display: none !important;
}
.menu {
  display: none !important;
}
.bottom-nav {
  display: none !important;
}

.navLoginCart Button{
  font-size: 10px; 
  color: #fff;
  font-weight: 50px;
  padding: 15px;
  height: 20px;
  width: 50px;
  
}

@media screen and (max-width: 750px) {
  .navbar{
    align-items: center !important;
    justify-content: space-between !important;
  }
  .menu {
    display: flex !important;
  }
  .search_bar{
    display: none!important;
  }
  .bottom-search_bar{
    display: flex !important;
  }
  .navLoginCart{
    margin-left: auto;
  }

}
